<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <!-- Font Awesome -->
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'/>

        <!-- sal.js -->
        <link rel="stylesheet" href="css/sal.css">

        <!-- imagehover -->
        <link rel="stylesheet" href="css/imagehover.min.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="css/style.css">

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <!-- Loader -->
        <div id="loader" class="container-fluid loader-box d-flex flex-column justify-content-center align-items-center bg-">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            <h3 class="h3-sm text-light">Loading</h3>
        </div>

        <!-- Alert -->
        {% for message in app.flashes('email_sent') %}
            <div class="flash-notice alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('email_failed') %}
            <div class="flash-notice alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}

        {% block body %}{% endblock %}

        <!-- jQuery -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>

        <!-- Bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

        <script src="js/sal.js"></script>
        
        <script type="text/javascript">
            
            $(document).ready(()=>{
                // Loading Page
                setTimeout(() => {
                    $('#loader').addClass('loaded');
                }, 600);

                // Hide Alert
                setTimeout(() => {
                    $('.alert').slideUp();
                }, 3000);
            });

            // init Sal.js
            sal();

        </script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
